.carrossel__titulo {
    color: var(--laranja);
    text-transform: uppercase;
    background: var(--branco);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
    
}